a {
    text-decoration: none;
  }

.posts {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    box-sizing: border-box;
    height: 30vh;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post1_text {
    margin-left: 10vh;
    margin-right: 10vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.post1_read {
    margin-top: 3vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

    .main_text {
        margin-bottom: 15%;
      }
    
      .about_me_main {
        margin-left: 20%;
        margin-right: 20%;
      }
    
      .about_me_main h3 {
        font-size: 50px;
      }
  }